@import 'variables';
@import 'modern-normalize';

body {
  font-family: $fonts;
}
a {
  text-decoration: none;
}
header {
  display:flex;
  background: $purple;
  color: #fff;
  align-items:center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 1em;
  h1 {
    flex-grow: 1;
    font-size: 1em;
    font-weight: normal;
  }
  a {
    color: #fff;
  }
}


main {
  max-width: 1000px;
  margin: 1em  auto;
  /* background: green; */
}
.complaint, .filter {
  margin: 0.5em 0;
  padding: 1em;
  /* background: green; */
  display: flex;
  align-content: center;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.complaint h4{
  flex-grow: 1;

}
.upvote {
  padding: 0.3em 0.5em;
  margin-right: 1em;
  border-radius: 100%;
  background: #eee;
  text-align: center;
}

.green {
  color:#00b248
}

select {
  padding: 0.4em;
  background: #fff;
  margin-left: 1em;
  border: 0;
  outline: 0;
}
.filter span {
line-height: 2;
}

.raise {
  background: #d50000
}

.single {
  flex-direction: column;
  .title {
    font-size: 1.51em;
  }
  .description {
    line-height: 1.5;
  }
}





input  {
  padding: 1em;
  border: 2px solid #ddd;
  border-radius: 6px;
  width: 100%;
  margin: 1em 0;
}
input:focus , textarea:focus {
  border: 2px solid #7b1fa2;
  outline: 0;
}

textarea {
  padding: 1em;
  font-family: 'Roboto';
  border: 2px solid #ddd;
  border-radius: 6px;
  width: 100%;
  height: 300px;
}


input[type="submit"] {
  border:0;
  color: #fff;
  background: #7b1fa2;
}

a .complaint {
  text-decoration: none;
  color: #000;
}

.btn {
  background: #7b1fa2;
  padding: 1em;
  margin-top: 4em;
  display: inline-block;
  color: #fff;
}